div.myBlockStyle {
	background: #FFFFFF;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	border-radius: 4px;
	margin: 0 0 8px 0;
	background-color: white;
	padding: 3px;
	margin-right: 0.5%;
}